<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Daniel's Page</title>
        <link href="/css/bootstrap.css" rel="stylesheet">
		<link href="/css/bootstrap-responsive.css" rel="stylesheet">

    </head>
    <body>
      <h1>A RESTful Controller</h1>
      <div class="navbar navbar-fixed-top">
      </div>
      <%= yield %>
      <script src="/js/bootstrap.min.js"></script>
    </body>
</html>
